<%- include('header'); %>
<div style="overflow: hidden;" id="index" class="container">
  <div class="col-md-7 row">
    <h3>Editar historico nº<%=historico.id %> de <%= cliente.nome %> </h3>
  </div>
  <div class="row">
    <div class="col-md-5">
      <form action="/clientes/historico/editar/<%=historico.id %>?_method=PUT" method="POST" enctype="application/x-www-form-urlencoded">
        <input value="<%=cliente.id %>" type="text" name="id_cliente" class="form-control" style="visibility: hidden;">
        <div class="form-floating mb-2">
          <input value="<%=historico.informacoes %>" type="text" name="informacoes" max-length="100" class="form-control" required>
          <label for="floatingInput">Informações</label>
        </div>
        <div class="form-floating mb-2">
          <input value="<%=historico.data_pagamento %>" type="date" name="data_pagamento" class="form-control" required>
          <label for="floatingInput">Data</label>
        </div>
        <div class="form-floating mb-2">
          <input value="<%=historico.valor %>" type="text" name="valor" id="valor" class="form-control" >
          <label for="floatingInput">Valor R$</label>
          <p style="color:red; font-size: 14px;">*Se caso não houver valor, deixe o campo em branco.</p>
        </div>
        <button type="submit" class="btn btn-success">
          Salvar alteração
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-square" viewBox="0 0 16 16">
            <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
            <path d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.235.235 0 0 1 .02-.022z"/>
          </svg>
        </button>
      </form>
    </div>
  </div>
</div>
<%- include('footer'); %>