<%- include('header'); %>
<div id="index" class="container">
  <br><br>
  <h2>Clientes Cadastrados</h2>
  <hr>
<table id="minhaTabela" class="table table-bordered table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Cliente</th>
        <th scope="col">CNPJ/CPF</th>
        <th scope="col">Telefone</th>
        <th scope="col">E-mail</th>
        <th scope="col">Contato</th>
        <th scope="col">Ativo</th>
        <th scope="col">Entrada</th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>

    <% for(var i=0; i<Object.keys(clientes).length; i++) { %>
      <tr>
        <th value="" scope="row"><%= clientes[i].id %></th>
        <td><%= clientes[i].nome %></td>
        <td><%= clientes[i].cnpj_cpf %></td>
        <td><%= clientes[i].telefone %></td>
        <td><%= clientes[i].email %></td>
        <td><%= clientes[i].contato %></td>
        <td><%= clientes[i].ativo %></td>
        <td><%= clientes[i].data_cadastro %></td>
          <td>
            <form action="/<%=clientes[i].id %>" method="POST" enctype="application/x-www-form-urlencoded">
              <button class="btn btn-primary">Histórico</button>
            </form>
          </td>

          <td>
            <a href="/<%=clientes[i].id %>">
              <button type="submit" class="btn btn-warning">Editar</button>
            </a>
          </td>

          <td>
            <form action="/<%=clientes[i].id %>?_method=DELETE" method="POST" enctype="application/x-www-form-urlencoded">
              <button type="submit" class="btn btn-danger">Excluir</button>
            </form>
          </td>
      </tr>
    <% } %>
    </tbody>
  </table>
  <a href="/incluir-cliente"><button type="submit" class="btn btn-success">Incluir</button></a>
</div>
<%- include('footer'); %>