<%- include('header'); %>

<div id="index" class="container">
  <br><br>
  <h2>Clientes Cadastrados</h2>
  <% if (msg == "") { %>
    <%} else { %>
    <div class="container alert alert-danger">
      <%=msg %>
    </div>
  <% } %>
  <hr>
<table id="minhaTabela" class="table table-bordered table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Cliente</th>
        <th scope="col">CNPJ/CPF</th>
        <th scope="col">Telefone</th>
        <th scope="col">E-mail</th>
        <th scope="col">Contato</th>
        <th scope="col">Ativo</th>
        <th scope="col">Entrada</th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>

    <% for(var i=0; i<Object.keys(clientes).length; i++) { %>
      <tr>
        <th value="" scope="row"><%= clientes[i].id %></th>
        <td><%= clientes[i].nome %></td>
        <td><%= clientes[i].cnpj_cpf %></td>
        <td><%= clientes[i].telefone %></td>
        <td><%= clientes[i].email %></td>
        <td><%= clientes[i].contato %></td>
        <td><%= clientes[i].ativo %></td>
        <td class="moment"><%= clientes[i].data_cadastro %></td>
          <td>
            <form action="/clientes/historico/<%=clientes[i].id %>" method="GET" enctype="application/x-www-form-urlencoded">
              <button class="btn btn-primary">Histórico</button>
            </form>
          </td>

          <td>
            <a href="/clientes/editar/<%=clientes[i].id %>">
              <button type="submit" class="btn btn-warning">Editar</button>
            </a>
          </td>

          <td>
              <button value="<%=clientes[i].id %>" onclick="excluirCliente(this.value)" type="submit" class="btn btn-danger">Excluir</button>
          </td>
      </tr>
    <% } %>
    </tbody>
  </table>
  <a href="/clientes/incluir"><button type="submit" class="btn btn-success">Cadastrar Cliente</button></a>
</div>

<div class="modal fade" id="modal-excluir-cliente" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 style="font-weight: bold;" class="modal-title" id="exampleModalLabel">Aviso</h5>
        <button type="button" class="cancelar-excluir-cliente btn-close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
        Deseja mesmo excluir esse cliente ? Este processo é <strong>irreversível</strong>.
      </div>
      <div style="text-align: left;" class="modal-footer">
        <form id="excluir-cliente" method="POST" enctype="application/x-www-form-urlencoded">
          <button type="submit" class="btn btn-danger" data-dismiss="modal">Confirmar Exclusão</button>
        </form>
        <button type="button" class="cancelar-excluir-cliente btn btn-secondary" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>

<%- include('footer'); %>