<%- include('header'); %>
<div id="index" class="container">
  <br>
  <h2>DETALHES DO CLIENTE</h2>
  <br>
  <h5>Nome/Razão social: </h5> <p><%=cliente[0].nome %></p>
  <h5>CPF/CNPJ:</h5> <p id="cpf_cnpj"><%=cliente[0].cnpj_cpf %></p>
  <h5>Telefone:</h5> <p><%=cliente[0].telefone %></p>
  <h5>E-mail:</h5> <p><%=cliente[0].email %></p>
  <h5>Contato:</h5> <p><%=cliente[0].contato %></p>
  <h5>Cliente desde:</h5> <p class="moment"><%=cliente[0].data_cadastro %></p>
  <h5>Cliente ativo:</h5> <p><%=cliente[0].ativo %></p>
  <hr>
  <h5><a style="text-decoration: none;" href="/clientes"> < Voltar para lista de Clientes</a></h5>
  <hr>
  <h2>HISTÓRICO</h2>
<table id="minhaTabela" class="table table-bordered table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Informações</th>
        <th scope="col">Data</th>
        <th scope="col">Valor</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>

    <% for(var i=0; i<Object.keys(historico).length; i++) { %>
      <tr>
        <th value="" scope="row"><%= historico[i].id %></th>
        <td><%= historico[i].informacoes %></td>
        <td class="moment"><%= historico[i].data_pagamento %></td>

        <% if(!Number(historico[i].valor)) { %>
          <td>Sem valor</td>
        <% } else { %>
          <td><%= Number(historico[i].valor).toLocaleString('pt-br', {
            style: 'currency',
            currency: 'BRL'
          }) %>
          </td>
        <% } %>
          <td>
            <a href="/clientes/historico/editar/<%=historico[i].id %>">Editar</a> |
            <button value="<%=historico[i].id %>" onclick="excluirHistorico(this.value)" type="submit" class="a-delete">Excluir</button>
          </td>
      </tr>
    <% } %>
    </tbody>
  </table>
  <div class="mb-1">
    <label class="form-label">
      <% let valorTotal = 0 %>
      <%  for(let i=0; i<Object.keys(historico).length; i++) { %>
          <% valorTotal += Number(historico[i].valor) %>
      <% } %>
      <h5>
        Valor Total: <%=valorTotal.toLocaleString('pt-br', {
          style: 'currency',
          currency: 'BRL'
        }) %> 
      </h5
    ></label>
  </div>
  <form action="/clientes/historico/incluir/<%=cliente[0].id %>" method="GET" enctype="application/x-www-form-urlencoded">
    <button type="submit" class="btn btn-success">Incluir no Histórico</button>
  </form>
</div>

<div class="modal fade" id="modal-excluir-historico" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 style="font-weight: bold;" class="modal-title" id="exampleModalLabel">Aviso</h5>
        <button type="button" class="cancelar-excluir-historico btn-close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
        Deseja mesmo excluir esse registro ? Este processo é <strong>irreversível</strong>.
      </div>
      <div style="text-align: left;" class="modal-footer">
        <form id="excluir-historico" method="POST" enctype="application/x-www-form-urlencoded">
          <input value="<%=cliente[0].id %>" type="text" name="id_cliente" style="width: 50px;visibility: hidden;">
          <button type="submit" class="btn btn-danger" data-dismiss="modal">Confirmar Exclusão</button>
        </form>
        <button type="button" class="cancelar-excluir-historico btn btn-secondary" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>
<%- include('footer'); %>