<%- include('header'); %>
<div id="index" class="container">
  <br><br>
  <h2>Historico do Cliente <%=cliente[0].nome %></h2>
  <hr>
<table id="minhaTabela" class="table table-bordered table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Informações</th>
        <th scope="col">Data Pagamento</th>
        <th scope="col">Valor</th>
        <th scope="col">E-mail</th>
        <th scope="col">Telefone</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>

    <% for(var i=0; i<Object.keys(historico).length; i++) { %>
      <tr>
        <th value="" scope="row"><%= historico[i].id %></th>
        <td><%= historico[i].informacoes %></td>
        <td><%= historico[i].data_pagamento %></td>
        <td><%= Number(historico[i].valor).toLocaleString('pt-br', {
          style: 'currency',
          currency: 'BRL'
        }) %>
        </td>
        <td><%= cliente[0].email %></td>
        <td><%= cliente[0].telefone %></td>
          <td>
            <form action="/clientes/historico/editar/<%=historico[i].id %>" method="POST" enctype="application/x-www-form-urlencoded">
              <button type="submit" class="btn btn-warning">Editar Registro</button>
            </form>
          </td>

          <td>
            <form action="/clientes/historico/excluir/<%=historico[i].id %>?_method=DELETE" method="POST" enctype="application/x-www-form-urlencoded">
              <button type="submit" class="btn btn-danger">Excluir Registro</button>
              <input value="<%=cliente[0].id %>" type="text" name="id_cliente" class="form-control" style="visibility: hidden;">
            </form>
          </td>
      </tr>
    <% } %>
    </tbody>
  </table>
  <form action="/clientes/historico/incluir/<%=cliente[0].id %>" method="GET" enctype="application/x-www-form-urlencoded">
    <button type="submit" class="btn btn-success">Incluir no Histórico</button>
  </form>
</div>
<%- include('footer'); %>